{% extends 'base.html' %}

{% block content %}
    <div class="w-full md:w-[50%] mx-auto">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col w-full">
                <div class="text-center space-y-4">
                    <h1 class="text-5xl font-bold">Login now!</h1>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'warning' %}
                                <p class="py-6 alert alert-error text-white" role="alert">
                                    <span>{{ message }}</span>
                                </p>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <p class="py-6 alert alert-info text-white" role="alert">
                                    <span>{{ message }}</span>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card bg-base-100 w-[70%] shadow-2xl">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="fieldset">
                                <label class="fieldset-label">Username</label>
                                <div class="input input-bordered w-full">
                                    <input type="text" class="w-full" placeholder="Username" name="username">
                                    <i class="fa-solid fa-user float-right"></i>
                                </div>
                                <label class="fieldset-label">Password</label>
                                <div class="input input-bordered w-full">
                                    <input type="password" 
                                    class="w-full" 
                                    placeholder="Password" 
                                    name="password"
                                    id="password">
                                    <button type="button" class="float-right rounded-full" 
                                    onclick="togglePassword()">
                                        <i class="fa-solid fa-eye-slash" id="toggleIcon"></i>
                                    </button>
                                </div>
                                <button type="submit" class="btn btn-neutral mt-4">Login</button>

                                <p class="mt-4 text-sm text-center">Don't have an account? 
                                    <a class="text-primary underline underline-offset-2 hover:cursor hover:text-blue-600" href="{% url 'register' %}">Register</a>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function togglePassword() {
        const icon = document.getElementById('toggleIcon');
        const password = document.getElementById('password');
        if (password.type === 'password') {
            password.type = 'text';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        } else {
            password.type = 'password';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        }
    }
    
    setTimeout(function() {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            alert.style.display = 'none';
        })
    }, 1000);
</script>
{% endblock %}